.idea/
ServerPckg/__pycache__/
ServerPckg/ca.crt
ServerPckg/DatabasePckg/__pycache__/
ServerPckg/DatabasePckg/terminals.txt
ServerPckg/DatabasePckg/worktimes.txt
ServerPckg/DatabasePckg/workers.txt
ServerPckg/DatabasePckg/cards.txt
ServerPckg/DatabasePckg/logs.txt
ClientPckg/__pycache__/
ClientPckg/ca.crt